_files/project/kbcard_mydata/src/ubd-main-api/src/main/webapp/WEB-INF/devonhome/requisite/conf/dtd/requisite_rule_1.0.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT requisite (form+)>
<!ATTLIST requisite version NMTOKEN #IMPLIED>  

<!ELEMENT form (input+)>
<!ATTLIST form ruleId CDATA  #REQUIRED>
<!ATTLIST form id NMTOKEN #REQUIRED>

<!ELEMENT input (#PCDATA)>
<!ATTLIST input name NMTOKEN #REQUIRED>
<!ATTLIST input title CDATA #IMPLIED>